*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body p, h1{
    text-shadow: black 6px 6px 6px;
}
body button{
     transition: transform 0.1s ease;
}
body button:active{
    transform: scale(0.95);
}
.nobar{
    width: 1;
    height: 100px;
    gap: 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px
}
.n2{
    display: flex;
    gap: 30px;
    margin-right: 80px;
}
.sd{
    display: flex;
}
.n1{
    margin-left: 80px;
    text-align: center;
    height: 50px;
    width: 50px;
    background-color: yellow;
   border-radius: 50%;
   padding-top: 15px;
}

.n2 button{
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.etg{
    width: 100%;
    height: 300px;
}
.ebp{
    text-align: center;
}
.ebp button{
      height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 40px;
}

.ui{
    padding-top: 40px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
}
.p{
    font-size: 34px;
    color: blue;
}
.img{
    width: 100%;
    height: 800px;
}
.img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}
.bh{
    width: 100%;
    height: 200px;
    padding-top: 50px;
    text-align: center;
}
.bh h1{
    margin-bottom: 10px;
    text-align: center;
    justify-self: center;
}
.bh p{
    margin-bottom: 10px;
}
.bh button{
 height: 30px;
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.wd{
    padding-top: 50px;
    height: 450px;
    width: 100%;
    text-align: center;
  background-color: aquamarine;
}
.wd p{
    margin-bottom: 30px;
}
.s{
    display: flex;
   margin-top: 10px;
    justify-content: center;
    gap: 40px;
 
}
.op{
    margin-top: 100px;
}
.fmd{
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-between;
}
.p1m{
    margin-left: 80px;
}
.p1n{
    margin-right: 80px;
}
.p1n, .p1m, .p1{
    width: 130px;
    height: 100px;
}
.ph1{
    background-color: grey;
}
.ph2{
    background-color: orange;
}
